<h1 class="text-center mb-4">RecipeGen</h1>
<p class="text-center mx-auto mb-4 lh-base" style="max-width: 600px;">
  Simply enter the ingredients you have on hand, and RecipeGen will instantly recommend delicious recipes tailored to your ingredients!
</p>

<%= form_with url: recipes_path, method: :get, data: { controller: "tags", turbo: true }, class: "text-center my-4 col-12 col-md-6 mx-auto" do |form| %>
  <div class="d-flex justify-content-center mb-3">
    <%= form.hidden_field :ingredients, id: "ingredients-hidden-field", value: @ingredients.join(', ') %>

    <div class="form-control d-flex flex-wrap align-items-center" style="border-radius: 0;">
      <div data-tags-target="tagsContainer" class="d-flex flex-wrap"></div>
      <input 
        type="text" 
        class="border-0 flex-grow-1"
        placeholder="Enter an ingredient and press Enter"
        data-action="keydown->tags#addIngredient" 
        data-tags-target="input"
        style="outline: none; min-width: 50px;"
        autofocus
      />
    </div>
  </div>
<% end %>

<div id="search_results" action="update">
  <%= render partial: 'recipes_list', locals: { recipes: @recipes, ingredients: @ingredients, recipes_total_count: @recipes_total_count } %>
</div>